@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@100;200;300;400&display=swap');

*{
    margin: 0;
    padding: 0;
    font-family: 'Josefin Sans', sans-serif;
}
body{
    
    background: rgba(0, 34, 255, 0.2);
}
h1{
    font-size: 2em;
}
h2{
    font-size: 1.5em;
}
.title{
    line-height: 3em;
    text-align: center;
}
.Dashboard{
    padding: 0 20px;
    height: 100vh;
}

.GameChoices{
    flex-direction: column;
    display : flex;
    align-items: center;
    border: 3px solid black;
    width: 100%;
    padding: 10px 0;
    border-radius: 10px;
}

.Bonuses{
    flex-direction: column;
    display : flex;
    align-items: center;
    border: 3px solid black;
    line-height: 2em;
    width: 100%;
    padding: 10px 0;
    margin: 10px 0;
    border-radius: 10px;

}

button{
    width : 200px;
    height: 30px;
    font-size: 1.1em;
}

form{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.ListGames{
    flex-direction: column;
    display : flex;
    align-items: center;
    border: 3px solid black;
    line-height: 2em;
    width: 100%;
    padding: 10px 0;
    margin: 10px 0;
    border-radius: 10px;
}

select{
    width: 200px;
}

.Game{
    height: 100vh;
}

.side{
    display: flex;
    height: 200px;
    width: 600px;
    gap: 10px;
}

.spells{
    align-content: center;
    flex: 1;
    display: flex;
    height: 100%;
    flex-direction: column;
    border: 3px solid black;
    border-radius: 10px;
    padding: 10px;
}

.infos{
    flex: 1;
    height: 100%;
    display: flex;
    flex-direction: column;
    border: 3px solid black;
    border-radius: 10px;
    justify-content: space-between;
    padding: 10px;
}

.self{
    align-self: center;
}

.Board{
    display: flex;
    flex-direction: column;
    width: 600px;
    height: 600px;
}

.Row{
    display: flex;
    flex-direction: row;
    flex: 1;
}

.Cell{
    display: flex;
    flex: 1;
    margin: 2px;
    border: 1px solid black;
    background-color: white;
    border-radius: 3px;
    overflow: hidden;
    position: relative;
}

.hov:hover{
    transition: 0.2s;
    background-color:rgb(209, 128, 70);
}

.Tp{
    position: relative;
    transition: 0.5s;
    display: flex;
    flex: 1;
    margin: 2px;
    border: 1px solid black;
    background-color: rgb(65, 26, 207);
    border-radius: 3px;
    overflow: hidden;
}
.Wall{
    flex: 1;
    margin: 2px;
    border: 1px solid black;
    background-color: rgb(0, 0, 0);
    border-radius: 3px;
    position: relative;
    overflow: hidden;
}
.Player{
    flex: 1;
    margin: 2px;
    border: 1px solid black;
    background-color: rgb(96, 153, 4);
    border-radius: 3px;
    position: relative;
}
.Enemy{
    display: flex;
    flex: 1;
    margin: 2px;
    border: 1px solid black;
    background-color: rgb(128, 3, 3);
    border-radius: 3px;
    overflow: hidden;
    position: relative;
}
.Destroy{
    display: flex;
    flex: 1;
    margin: 2px;
    border: 1px solid black;
    background-color: rgb(214, 68, 15);
    border-radius: 3px;
    overflow: hidden;
    position: relative;
}
.Bunker{
    flex: 1;
    margin: 2px;
    border: 1px solid black;
    background-color: rgb(197, 168, 6);
    border-radius: 3px;
    position: relative;
}
.Playable{
    flex: 1;
    border: 5px solid rgb(77, 255, 46);
    position: absolute;
    width: 80%;
    height: 80%;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%)
}
.Bonusable{
    flex: 1;
    border: 5px solid rgb(149, 114, 176);
    position: absolute;
    width: 80%;
    height: 80%;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%)
}
.Playable:hover{
    transition: 0.2s;
    background-color:rgba(77, 255, 46, 0.48);
}
.Special{
    transition: 0.5s;
    flex: 1;
    margin: 2px;
    border: 1px solid black;
    background-color: rgb(97, 195, 251);
    border-radius: 3px;
}
.Orb{
    background-color: rgb(255, 193, 60);
    border-radius: 50%;
    width : 60%;
    height: 60%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%)
}
.Bomb{
    background-color: rgb(139, 0, 32);
    border-radius: 50%;
    width : 60%;
    height: 60%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%)
}

@media only screen and (max-width: 600px) {
    .Board{
        width: 400px;
        height: 400px;
    }
    .side{
        width: 400px;
    }
}